SanDiego/Week-4-Pandas/movielens/ratings.csv
SanDiego/Week-4-Pandas/movielens/tags.csv
SanDiego/Week-7-MachineLearning/weather/minute_weather.csv
SanDiego/Week-7-MachineLearning/database.sqlite
SanDiego/Week5-Visualization/world-development-indicators/database.sqlite
SanDiego/Week5-Visualization/world-development-indicators/Footnotes.csv
SanDiego/Week5-Visualization/world-development-indicators/Indicators.csv
.ipynb_checkpoints/firstnp-checkpoint.ipynb
